:root {
  --constrast: #0a0d0f;
  --bg: #0e1214;
  --surface1: #25262c;
  --surface2: #404146;
  --fg: #d0c6a5;

  --black: #16181C;
  --sunshine: #ffd072;
  --gold: #fb982e;
  --ember: #dd4e21;
  --sand: #e6a96b;
  --meadow: #52a260;
  --lime: #9cd750;
  --sapphire: #0f829d;
  --crimson: #d01c26;
  --lilac: #cd80b9;
  --silver: #8f8682;
  --alabaster: #efead9;

  --error: #eb5f6a;
  --info: #878080;
  --hint: #287bde;
  --error_bg: #9E2927;
  --info_bg: #484040;
  --hint_bg: #263c50;

  --darkness_accent: var(--surface1);
  --dark_accent: var(--surface2);
  --accent: var(--gold);
  --bright_accent: var(--ember);

  --color-ansi-black: var(--black) !important;
  --color-ansi-white: var(--fg) !important;
  --color-ansi-gray: var(--silver) !important;
  --color-ansi-red: var(--error) !important;
  --color-ansi-orange: var(--gold) !important;
  --color-ansi-yellow: var(--sand) !important;
  --color-ansi-green: var(--meadow) !important;
  --color-ansi-cyan: var(--hint_bg) !important;
  --color-ansi-blue: var(--sapphire) !important;
  --color-ansi-magenta: var(--lilac) !important;

  /*=== === === Background Colors === === ===*/
  --bgColor-default: var(--constrast) !important;
  --bgColor-muted: var(--bg) !important;
  --bgColor-inset: var(--bg) !important;
  --bgColor-emphasis: var(--info_bg) !important;
  --bgColor-inverse: var(--fg) !important;
  --bgColor-white: var(--fg) !important;
  --bgColor-black: var(--constrast) !important;
  --bgColor-disabled: var(--silver) !important;
  --bgColor-transparent: #00000000 !important;
  --bgColor-neutral-muted: #9283741a !important;
  --bgColor-neutral-emphasis: var(--silver) !important;
  --bgColor-accent-muted: var(--black) !important;
  --bgColor-accent-emphasis: var(--surface1) !important;
  --bgColor-success-muted: #689d6a1a !important;
  --bgColor-success-emphasis: var(--hint) !important;
  --bgColor-attention-muted: #d7992126 !important;
  --bgColor-attention-emphasis: var(--sunshine) !important;
  --bgColor-severe-muted: #d65d0e1a !important;
  --bgColor-severe-emphasis: var(--ember) !important;
  --bgColor-danger-muted: #cc241d1a !important;
  --bgColor-danger-emphasis: var(--crimson) !important;
  --bgColor-open-muted: #4585881a !important;
  --bgColor-open-emphasis: var(--sapphire) !important;
  --bgColor-closed-muted: # !important;
  --bgColor-closed-emphasis: var(--crimson) !important;
  --bgColor-done-muted: # !important;
  --bgColor-done-emphasis: transparent !important;
  --bgColor-upsell-muted: # !important;
  --bgColor-upsell-emphasis: var(--accent) !important;
  --bgColor-sponsors-muted: #b162861a !important;
  --bgColor-sponsors-emphasis: var(--lilac) !important;

  /*=== === === Foreground Colors === === ===*/
  --fgColor-default: var(--fg) !important;
  --fgColor-muted: var(--info) !important;
  --fgColor-onEmphasis: var(--fg) !important;
  --fgColor-white: var(--fg) !important;
  --fgColor-black: var(--contrast) !important;
  --fgColor-disabled: var(--silver) !important;
  --fgColor-link: var(--ember) !important;
  --fgColor-neutral: var(--silver) !important;
  --fgColor-accent: var(--accent) !important;
  --fgColor-success: var(--lime) !important;
  --fgColor-attention: var(--sunshine) !important;
  --fgColor-severe: var(--ember) !important;
  --fgColor-danger: var(--crimson) !important;
  --fgColor-open: var(--lilac) !important;
  --fgColor-closed: var(--crimson) !important;
  --fgColor-done: var(--sapphire) !important;
  --fgColor-upsell: var(--sapphire) !important;
  --fgColor-sponsors: var(--hint) !important;

  /*=== === === Avatar Colors === === ===*/
  --avatar-bgColor: #bdaf931a !important;
  --avatar-borderColor: #bdaf931a !important;
  --avatar-shadow: -2px -2px 0 #1d2020 !important;
  --avatarStack-fade-bgColor-default: #686355 !important;
  --avatarStack-fade-bgColor-muted: #535046 !important;

  /*=== === === Calendar Colors === === ===*/
  --color-calendar-halloween-graph-day-L1-bg: var(--darkness_accent) !important;
  --color-calendar-halloween-graph-day-L2-bg: var(--dark_accent) !important;
  --color-calendar-halloween-graph-day-L3-bg: var(--accent) !important;
  --color-calendar-halloween-graph-day-L4-bg: var(--bright_accent) !important;

  --color-calendar-winter-graph-day-L1-bg: var(--darkness_accent) !important;
  --color-calendar-winter-graph-day-L2-bg: var(--dark_accent) !important;
  --color-calendar-winter-graph-day-L3-bg: var(--accent) !important;
  --color-calendar-winter-graph-day-L4-bg: var(--bright_accent) !important;

  --color-calendar-graph-day-bg: var(--contrast) !important;
  --color-calendar-graph-day-border: transparent !important;
  --color-calendar-graph-day-L1-bg: var(--darkness_accent) !important;
  --color-calendar-graph-day-L2-bg: var(--dark_accent) !important;
  --color-calendar-graph-day-L3-bg: var(--accent) !important;
  --color-calendar-graph-day-L4-bg: var(--bright_accent) !important;
  --color-calendar-graph-day-L1-border: transparent !important;
  --color-calendar-graph-day-L2-border: transparent !important;
  --color-calendar-graph-day-L3-border: transparent !important;
  --color-calendar-graph-day-L4-border: transparent !important;

  /*=== === === Border Colors === === ===*/
  --borderColor-default: var(--info_bg) !important;
  --borderColor-muted: #7c6f64b3;
  --borderColor-emphasis: var(--surface2);
  --borderColor-disabled: #504945b3;
  --borderColor-transparent: #00000000;
  --borderColor-neutral-muted: #665c5466;
  --borderColor-neutral-emphasis: var(--surface1);
  --borderColor-accent-muted: #83a59866;
  --borderColor-accent-emphasis: var(--accent) !important;
  --borderColor-success-muted: #8ec07c66;
  --borderColor-success-emphasis: var(--bright_cyan) !important;
  --borderColor-attention-muted: #fabd2f66;
  --borderColor-attention-emphasis: var(--sunshine) !important;
  --borderColor-severe-muted: #fe801966;
  --borderColor-severe-emphasis: var(--ember) !important;
  --borderColor-danger-muted: #e5534b66;
  --borderColor-danger-emphasis: var(--crimson) !important;
  --borderColor-open-muted: var(--color-ansi-blue);
  --borderColor-open-emphasis: var(--color-ansi-blue) !important;
  --borderColor-closed-muted: var(--color-ansi-red-bright) !important;
  --borderColor-closed-emphasis: var(--color-ansi-red-bright) !important;
  --borderColor-done-muted: var(--accent) !important;
  --borderColor-done-emphasis: var(--accent) !important;
  --borderColor-upsell-muted: var(--accent) !important;
  --borderColor-upsell-emphasis: var(--accent) !important;
  --borderColor-sponsors-muted: var(--color-accent-bright) !important;
  --borderColor-sponsors-emphasis: var(--color-accent-bright) !important;

  /*=== === === Buttons Colors === === ===*/
  --button-default-fgColor-rest: var(--alabaster) !important;
  --button-default-bgColor-rest: var(--surface1) !important;
  --button-default-bgColor-hover: var(--dark_accent) !important;
  --button-default-bgColor-active: var(--dark_accent) !important;
  --button-default-bgColor-selected: #3e3c37 !important;
  --button-default-bgColor-disabled: var(--surface1) !important;
  --button-default-borderColor-rest: var(--surface1) !important;
  --button-default-borderColor-hover: var(--silver) !important;
  --button-default-borderColor-active: #6a6453 !important;
  --button-default-borderColor-disabled: transparent !important;
  --button-default-shadow-resting: 0px 0px 0px 0px #000000 !important;

  --button-primary-fgColor-rest: var(--alabaster) !important;
  --button-primary-fgColor-disabled: #bdaf9380 !important;
  --button-primary-iconColor-rest: var(--fg) !important;
  --button-primary-bgColor-rest: var(--accent) !important;
  --button-primary-bgColor-hover: var(--bright_accent) !important;
  --button-primary-bgColor-active: var(--accent) !important;
  --button-primary-bgColor-disabled: #a5a64e99 !important;
  --button-primary-borderColor-rest: var(--accent) !important;
  --button-primary-borderColor-hover: #bdaf931a !important;
  --button-primary-borderColor-active: #bdaf931a !important;
  --button-primary-borderColor-disabled: #bdaf931a !important;
  --button-primary-shadow-selected: 0 0 transparent !important;

  --button-invisible-fgColor-rest: var(--fg) !important;
  --button-invisible-fgColor-hover: var(--fg) !important;
  --button-invisible-fgColor-disabled: var(--silver) !important;
  --button-invisible-iconColor-rest: var(--fg) !important;
  --button-invisible-iconColor-hover: var(--fg) !important;
  --button-invisible-iconColor-disabled: var(--silver) !important;
  --button-invisible-bgColor-rest: #00000000 !important;
  --button-invisible-bgColor-hover: #686355 !important;
  --button-invisible-bgColor-active: #4f4945 !important;
  --button-invisible-bgColor-disabled: #373e47b3 !important;
  --button-invisible-borderColor-rest: #00000000 !important;
  --button-invisible-borderColor-hover: #0000 !important;
  --button-invisible-borderColor-disabled: var(--surface1) !important;

  --button-outline-fgColor-rest: var(--hint) !important;
  --button-outline-fgColor-hover: var(--hint) !important;
  --button-outline-fgColor-active: var(--fg) !important;
  --button-outline-fgColor-disabled: var(--silver) !important;
  --button-outline-bgColor-rest: var(--black) !important;
  --button-outline-bgColor-hover: var(--surface1) !important;
  --button-outline-bgColor-active: var(--surface1) !important;
  --button-outline-bgColor-disabled: var(--contrast) !important;
  --button-outline-borderColor-hover: var(--black) !important;
  --button-outline-borderColor-selected: var(--surface1) !important;
  --button-outline-shadow-selected: 0 0 transparent !important;

  --buttonCounter-danger-bgColor-rest: var(--error_bg) !important;
  --buttonCounter-default-bgColor-rest: var(--surface1) !important;
  --buttonCounter-outline-bgColor-hover: var(--surface2) !important;
  --buttonCounter-outline-bgColor-rest: var(--silver) !important;
  --buttonCounter-outline-fgColor-disabled: var(--silver) !important;
  --buttonCounter-outline-fgColor-hover: var(--accent) !important;
  --buttonCounter-outline-fgColor-rest: var(--alabaster) !important;
  --buttonCounter-primary-bgColor-rest: var(--dark_accent) !important;

  --button-danger-fgColor-rest: var(--crimson) !important;
  --button-danger-fgColor-hover: var(--fg) !important;
  --button-danger-fgColor-active: var(--fg) !important;
  --button-danger-fgColor-disabled: #ebdbb280 !important;
  --button-danger-iconColor-rest: var(--error) !important;
  --button-danger-iconColor-hover: var(--fg) !important;
  --button-danger-bgColor-rest: var(--error) !important;
  --button-danger-bgColor-hover: var(--error) !important;
  --button-danger-bgColor-active: var(--crimson) !important;
  --button-danger-bgColor-disabled: #504945b3 !important;
  --button-danger-borderColor-rest: var(--surface2) !important;
  --button-danger-borderColor-hover: var(--fg) !important;
  --button-danger-borderColor-active: var(--fg) !important;
  --button-danger-shadow-selected: 0 0 transparent !important;

  --button-inactive-fgColor: var(--color-fg-default) !important;
  --button-inactive-bgColor: var(--color-bg3-default) !important;
  --button-star-iconColor: var(--color-ansi-yellow) !important;

  --codeMirror-fgColor: var(--hint) !important;
  --codeMirror-bgColor: var(--contrast) !important;
  --codeMirror-gutters-bgColor: var(--contrast) !important;
  --codeMirror-gutterMarker-fgColor-default: var(--contrast) !important;
  --codeMirror-gutterMarker-fgColor-muted: var(--surface2) !important;
  --codeMirror-lineNumber-fgColor: var(--silver) !important;
  --codeMirror-cursor-fgColor: var(--fg) !important;
  --codeMirror-selection-bgColor: #a5a64e66 !important;
  --codeMirror-activeline-bgColor: #b4b64933 !important;
  --codeMirror-matchingBracket-fgColor: var(--hint) !important;
  --codeMirror-lines-bgColor: var(--contrast) !important;
  --codeMirror-syntax-fgColor-comment: var(--silver) !important;
  --codeMirror-syntax-fgColor-constant: var(--gold) !important;
  --codeMirror-syntax-fgColor-entity: var(--fg) !important;
  --codeMirror-syntax-fgColor-keyword: var(--ember) !important;
  --codeMirror-syntax-fgColor-storage: var(--fg) !important;
  --codeMirror-syntax-fgColor-string: var(--meadow) !important;
  --codeMirror-syntax-fgColor-support: var(--lilac) !important;
  --codeMirror-syntax-fgColor-variable: var(--fg) !important;

  --color-prettylights-syntax-comment: var(--silver) !important;
  --color-prettylights-syntax-constant: var(--gold) !important;
  --color-prettylights-syntax-constant-other-reference-link: var(--sapphire) !important;
  --color-prettylights-syntax-entity: var(--gold) !important;
  --color-prettylights-syntax-storage-modifier-import: var(--sapphire) !important;
  --color-prettylights-syntax-entity-tag: var(--fg) !important;
  --color-prettylights-syntax-keyword: var(--ember) !important;
  --color-prettylights-syntax-string: var(--meadow) !important;
  --color-prettylights-syntax-variable: var(--ember) !important;
  --color-prettylights-syntax-brackethighlighter-unmatched: var(--error) !important;
  --color-prettylights-syntax-brackethighlighter-angle: var(--black);
  --color-prettylights-syntax-invalid-illegal-text: var(--fg) !important;
  --color-prettylights-syntax-invalid-illegal-bg: var(--error) !important;
  --color-prettylights-syntax-carriage-return-text: var(--fg) !important;
  --color-prettylights-syntax-carriage-return-bg: var(--crimson) !important;
  --color-prettylights-syntax-string-regexp: var(--hint) !important;

  --color-prettylights-syntax-markup-list: var(--surface1) !important;
  --color-prettylights-syntax-markup-heading: var(--black) !important;
  --color-prettylights-syntax-markup-italic: var(--black) !important;
  --color-prettylights-syntax-markup-bold: var(--black) !important;
  --color-prettylights-syntax-markup-deleted-text: var(--ember) !important;
  --color-prettylights-syntax-markup-deleted-bg: var(--fg) !important;
  --color-prettylights-syntax-markup-inserted-text: var(--hint_bg) !important;
  --color-prettylights-syntax-markup-inserted-bg: var(--fg) !important;
  --color-prettylights-syntax-markup-changed-text: var(--crimson) !important;
  --color-prettylights-syntax-markup-changed-bg: var(--lilac) !important;
  --color-prettylights-syntax-markup-ignored-text: var(--fg) !important;
  --color-prettylights-syntax-markup-ignored-bg: var(--sapphire) !important;
  --color-prettylights-syntax-meta-diff-range: var(--sapphire) !important;
  --color-prettylights-syntax-sublimelinter-gutter-mark: var(--silver) !important;
}
